@font-face {
    font-family: "HeaderMarkName";
    src: url("../fonts/Montserrat-Bold.ttf");
  }

.header-stripe-text{
    font-size: "HeaderMarkName";
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 22px;
    width: fit-content;
    transform: translate(20px, -10px) !important;
}
#header-stripe{
    width: 50px;
    transform: translate(-20px, 20px) !important;
}