@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;@500;600;700&family=Poppins&display=swap');
body{
    background-color: #F3F3F8 !important;
}
.row{/* 
    background: red; */
    margin-top: 7rem;
}
/* Bagian header */
#img-wrapper #img{
    width: 150px;
    float: right;
    height: 150px;
    background-image: url(../img/pp-erlangga.jpg);
    background-size: cover;
    border: none;
    transform:translate(30px, -30px);
    border-radius: 50%;
}
#img-wrapper{/* 
    background-color: green; */
    width: 150px;
    height: 150px;
    transform:translate(-30px, 30px);
    border-radius: 50%;
}
#text-container{/* 
    background-color: blue; */
    margin-top: -.9rem;
}
#text-container h1{
    font-family: 'Montserrat', sans-serif;
    line-height: 4.5rem;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 0;
    margin-left: 0rem;
    letter-spacing: 1rem;
}
#text-container p{
    margin-top: 1.7rem;
    margin-left: 4px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 700;
    color: #AAAAAA;
}
#divider{
    margin-top: 3.3rem;
    border-width: 2px;
}
@media screen and (max-width: 767px) {
    h2{
        margin-left: 0em;
        text-align: center;
    }
}
@media screen and (max-width: 600px) {
    .hide {
        display: none;
    }
}
/* bagian profile */
#space-about{
    margin-top: 5.4rem !important;
}
#profile-container h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 22px;
}
#profile-container p{
    color: #464646;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

    margin-top: 2rem;
}

#sosmed-container{/* 
    background-color: blue; */
    font-family: 'Poppins', sans-serif;
    margin-top: -6rem;
}
#sosmed-container p{
    margin-left: 10px;
    margin-top: -3px;
    color: #AAAAAA;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    transition: .5s;
}
#sosmed-container #wrapper{
    display: flex;
}
#sosmed-container #wrapper a{
    text-decoration: none;
}
#sosmed-container #wrapper a p:hover{
    color: #575757;
}