@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Sacramento&family=Yellowtail&display=swap');
body{
    background-color: #F3F3F8 !important;
}
.row{/* 
    background: red; */
    margin-top: 7rem;
}
#img-container img{
    width: 70%;
    float: right;
    height: 100%;
}
#img-container{
    background-color: green;
    height: 30rem;
}
#text-container{/* 
    background-color: blue; */
    margin-top: 2rem;
}
h1{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 18px;
    font-size: 60px;
    margin-bottom: 0;
    margin-left: 0rem;
}
h2{
    font-family: 'Yellowtail', cursive;
    font-size: 55px;
    margin-left: -5rem;
    margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
    h1{
        text-align: center;
    }
    h2{
        margin-left: 0em;
        text-align: center;
    }
}