@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
body{
    background-color: #F3F3F8 !important;
}
.row{/* 
    background: red; */
    margin-top: 7rem;
}
#img-wrapper #img{
    width: 150px;
    float: right;
    height: 150px;
    background-image: url(../img/pp-erlangga.jpg);
    background-size: cover;
    border: none;
    transform:translate(30px, -30px);
    border-radius: 50%;
}
#img-wrapper{/* 
    background-color: green; */
    width: 150px;
    height: 150px;
    transform:translate(-30px, 30px);
    border-radius: 50%;
}
#text-container{/* 
    background-color: blue; */
    margin-top: -.9rem;
}
h1{
    font-family: 'Montserrat', sans-serif;
    line-height: 4.5rem;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 0;
    margin-left: 0rem;
    letter-spacing: 1rem;
}
p{
    margin-top: 1.7rem;
    margin-left: 4px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 700;
    color: #AAAAAA;
}
#divider{
    margin-top: 3.3rem;
    border-width: 2px;
}
@media screen and (max-width: 767px) {
    h1{
        text-align: center;
    }
    h2{
        margin-left: 0em;
        text-align: center;
    }
}