@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;@500;600;700&family=Poppins&display=swap');

/* tittle */
#list-container{
    margin-top: 5.4rem;
}
.mt-54{
    margin-top: 5.4rem;
}
/* list style */
#list-data{
    margin: 3rem 0px;
}
#list-data h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
}
#list-data span{
    font-family:  'Poppins', sans-serif;
}